.card{
    padding: 10px;
    background-color: #f1f9ffbd;
    border-radius: 7px;
}
.image img{
    height:250px;
    width: 100%;
    border-radius: 7px;
    margin-bottom: 15px; 
}
.food-info h3{
    font-size: 22px;
    margin-bottom: 15px;
}
.food-info p{
    font-size: 14px;
    font-weight: 500;
    margin: 8px 0;
}
.btn-wrapper{
    display: flex;
    justify-content: center;
}
.btn-wrapper button{
    width: 100%;
    border: none;
    background-color: #ef3f49;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
}