.user-container{
    display: flex;
    align-items: center;

}
.user-container img{
    width: 40px;
    height: 40px;
    margin-right:10px ;
    border-radius: 30px;
}
.author-container{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding: 0 20px;

}
.btn-break{
    padding: 10px;
    margin-top: 10px;
    background-color: gray;
}
.exercise{
    background-color: gray;
}
.break{
    background-color: gray;
}
.btn-activity{
    background-color: slateblue;
    border-radius: 10px;
    border: none;
    padding: 10px;
   
}